<div class="uk-cover-container banner-container">
    <div class="uk-overlay uk-light banner-title-container">
        <h1 class="uk-heading-medium banner-title">Donate</h1>
    </div>
</div>
<div id="why-we-give" class="uk-section uk-section-muted">
    <div class="uk-container">
        <div class="uk-child-width-1-1@m uk-grid-small uk-grid-match" uk-grid>
            <div>
                <div class="uk-card uk-card-default uk-card-body uk-card-hover">
                    <div class="giving-section">
                        <article class="uk-article">
                            <h1 class="uk-article-title">What We Believe About Giving</h1>
                            <p>
                                There are truly only three things we can give: our time, our treasure or our talents; each of these are a gift from God
                                and like we read in the Old Testament God has made us stewards, caretakers, of these gifts. As Christians we recognize
                                that these gifts can be used to support the mission of spreading God’s Word and sharing God’s Love in our community and
                                to all the ends of the earth. The Bible has a lot to say about giving and so it is a subject that requires careful
                                consideration, but at the center of this we know that God loves a cheerful giver and so each should give without
                                reluctance or under compulsion.
                            </p>
                            <p class="uk-text-lead donation-text">If you would like to set up a recurring tithe or make a one-time donation, click the button below.</p>
                        </article>
                    </div>
                    <a class="tithely-give-btn" href="https://tithe.ly/give?c=931042" target="_blank">GIVE NOW</a>
                </div>
            </div>
        </div>
    </div>
</div>