<div class="uk-cover-container banner-container">
    <div class="uk-overlay uk-light banner-title-container">
        <h1 class="uk-heading-medium banner-title">About</h1>
    </div>
</div>
<div id="mission-statement" class="uk-section uk-section-muted">
    <div class="uk-container">
        <div class="uk-card uk-card-default uk-card-body uk-card-hover">
            <div>
                <div class="uk-grid-match uk-child-width-1-2@m" uk-grid>
                    <div class="trinity-logo-container">
                        <img class="trinity-logo" data-src="assets/images/trinity-logo.png" height="200" width="200" alt="" uk-img>
                    </div>
                    <div class="mission-statement">
                        <article class="uk-article">
                            <h1 class="uk-article-title">Mission Statement</h1>
                            <p class="uk-text-lead">
                                To make disciples of Jesus Christ who have a dynamic relationship with God, unity with one another in the power of the
                                Holy Spirit, and who reach out to Southeast Los Angeles County with the good news of the saving gospel.
                            </p>
                        </article>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div id="what-we-believe" class="uk-section uk-section-muted">
    <div class="uk-container">
        <div class="uk-card uk-card-default uk-card-body uk-card-hover">
            <div>
                <article class="uk-article">
                    <h1 class="uk-article-title what-we-believe-title">What We Believe</h1>
                    <p class="uk-heading-bullet">
                        We believe in the Triune God, Father, Son and Holy Spirit, who created all that exists; became man in the person of
                        Jesus Christ to suffer, die, and rise again for the world’s redemption; and brings people to faith and new life through
                        His Word and Sacraments.
                    </p>
                    <p class="uk-heading-bullet">
                        We believe that the Bible is the inspired Word of God; without error and the only norm and rule of faith and practice.
                    </p>
                    <p class="uk-heading-bullet">
                        We believe that the church is not a building, but the people who gather in community to worship, pray and serve.
                    </p>
                    <p class="uk-heading-bullet">
                        We believe that we are all, by nature, sinful and unclean and thus in need of a savior.
                    </p>
                    <p class="uk-heading-bullet">
                        We believe that we are saved, not by works, but by the grace of God from which our desire to serve blooms.
                    <p class="uk-heading-bullet">
                        We believe that as children of God we all have value and are beloved Author and Creator of Heaven and Earth.
                    </p>
                </article>
            </div>
        </div>
    </div>
</div>