<div class="uk-cover-container banner-container">
    <div class="uk-overlay uk-position-center uk-light uk-text-center">
        <h1 class="uk-heading-medium">Get Involved</h1>
    </div>
</div>
<div class="uk-section uk-section-muted">
    <div class="uk-container uk-container-expand" uk-grid>
        <div class="uk-width-xlarge@l uk-flex uk-flex-center">
            <div class="uk-container uk-container-expand">
                <h1 class="uk-heading-small uk-text-center">Upcoming Events</h1>
                <div id="upcoming-events" class="fb-page" data-href="https://www.facebook.com/TrinityNorwalk" data-tabs="events" [attr.data-width]="pluginWidth"
                    data-height="700px" data-small-header="true" data-adapt-container-width="false" data-hide-cover="true"
                    data-show-facepile="false">
                    <blockquote cite="https://www.facebook.com/TrinityNorwalk" class="fb-xfbml-parse-ignore"><a
                            href="https://www.facebook.com/TrinityNorwalk">Trinity Lutheran Church, LCMS</a>
                    </blockquote>
                </div>
            </div>
        </div>
        <div class="uk-width-expand@l">
            <h1 class="uk-heading-small uk-text-center">Weekly Bible Studies</h1>
            <div class="uk-child-width-1-2@m uk-grid-small uk-grid-match" style="padding: 0px 40px;" uk-grid>
                <div>
                    <div class="uk-card uk-card-default uk-card-body uk-text-center uk-card-hover">
                        <h3 class="uk-card-title">Dinner & Devotional</h3>
                        <p>Mondays @ 5:30 PM<br />
                            in the Lounge</p>
                    </div>
                </div>
                <div>
                    <div class="uk-card uk-card-default uk-card-body uk-text-center uk-card-hover">
                        <h3 class="uk-card-title">Book Club for Ladies</h3>
                        <p>Wednesdays @ 8:30 AM<br />
                            in the Lounge</p>
                    </div>
                </div>
                <div>
                    <div class="uk-card uk-card-default uk-card-body uk-text-center uk-card-hover">
                        <h3 class="uk-card-title">Men's Bible Study</h3>
                        <p>Wednesdays @ 8:30 AM<br />
                            in Pastor Eddie's Office</p>
                    </div>
                </div>
                <div>
                    <div class="uk-card uk-card-default uk-card-body uk-text-center uk-card-hover">
                        <h3 class="uk-card-title">Dinner & Devotional</h3>
                        <p>Thursdays @ 6:30 PM<br />
                            at the Costley's home</p>
                    </div>
                </div>
                <div>
                    <div class="uk-card uk-card-default uk-card-body uk-text-center uk-card-hover">
                        <h3 class="uk-card-title">Adult Sunday School</h3>
                        <p>Sundays @ 8:45 AM<br />
                            in the Lounge</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>