<div class="uk-cover-container banner-container">
    <div class="uk-overlay uk-position-center uk-light uk-text-center">
        <h1 class="uk-heading-medium">Meet the Team</h1>
    </div>
</div>
<div id="team-bio-list" class="uk-section uk-section-muted">
    <div class="uk-container">
        <div class="uk-child-width-1-1@m uk-grid-small uk-grid-match" uk-grid>
            <div>
                <div class="uk-card uk-card-default uk-card-body uk-card-hover">
                    <div>
                        <div class="uk-grid-match uk-child-width-1-2@m" uk-grid>
                            <div class="team-image-container">
                                <img class="team-image" data-src="assets/images/pastor-eddie.jpg" height="500" width="500" alt="" uk-img>
                            </div>
                            <div class="team-bio">
                                <article class="uk-article">
                                    <h1 class="uk-article-title">Pastor Eddie Cuen</h1>
                                    <h3 class="team-position">Lead Pastor</h3>
                                    <p>
                                        Pastor Eddie has been married to his wife, Denise, since 1995 and is a proud father of two adult children. He was
                                        born
                                        in Ensenada, Mexico and has lived in the Los Angeles area most of his life. In 2012 he enrolled in the Specific
                                        Ministry
                                        Pastoral Program through Concordia Seminary, Saint Louis and was ordained in 2015. Before his life as a pastor,
                                        Eddie
                                        worked for 17 years in the fashion industry where he worked in design, product development, production and
                                        merchandising. He is passionate about sharing the love of Christ with the community and enjoys running marathons.
                                    </p>
                                </article>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div>
                <div class="uk-card uk-card-default uk-card-body uk-card-hover">
                    <div>
                        <div class="uk-grid-match uk-child-width-1-2@m" uk-grid>
                            <div class="team-image-container">
                                <img class="team-image" data-src="assets/images/dan-malone.jpg" height="500" width="500" alt="" uk-img>
                            </div>
                            <div class="team-bio">
                                <article class="uk-article">
                                    <h1 class="uk-article-title">Dan Malone</h1>
                                    <h3 class="team-position">Worship Leader</h3>
                                    <p>
                                    Dan has had a love for Jesus since he was very young. Originally from the Chicago area he moved to Arizona after high
                                    school and eventually ended up in California. He is a self-taught guitarist and keyboard player and loves to sing. He
                                    began leading worship at his campus church at Arizona State University in 1977. He continues to serve the Lord preaching
                                    the Gospel through music through leading worship and writing songs. Dan has been married to his wife Janet since he met
                                    her at church in 1988. He is also a proud father of 5 children and 8 grandchildren.
                                    </p>
                                </article>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>