.team-bio {
    display: flex;
    align-content: center;
    text-align: center;
}

.team-position {
    margin-top: 0px;
}

.team-image-container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.team-image {
    max-height: 500px;
    max-width: 500px;
}