<div class="uk-cover-container banner-container">
    <img class="banner" src="assets/images/crosses.png" alt="" uk-cover>
</div>
<div id="service-times" class="uk-section uk-section-muted">
    <h1 class="uk-heading-small uk-text-center">Service Times</h1>
    <div class="uk-container">                                        
        <div class="uk-child-width-1-2@m uk-grid-small uk-grid-match" uk-grid>
            <div>
                <div class="uk-card uk-card-default uk-card-body uk-card-hover">
                    <div>
                        <h3 class="uk-heading">Sunday Service</h3>
                        <p>Sundays @ 10:00 AM</p>
                        <hr>
                    </div>
                    <div>
                        <h3 class="uk-heading">Children's Church</h3>
                        <p>Sundays @ 10:00 AM</p>
                        <hr>
                    </div>
                    <div>
                        <h3 class="uk-heading">Location</h3>
                        <ul class="uk-list">
                            <li>
                                <span uk-icon="location"></span>
                                <a target="_blank"
                                    href="https://www.google.com/maps/search/?api=1&query=Trinity+Lutheran+Church+Norwalk&query_place_id=ChIJBzBFcJDSwoARNdpSj_wzvb4">
                                    11507 Studebaker Rd, Norwalk, California 90650
                                </a>
                            </li>
                            <li>
                                <span uk-icon="receiver"></span>
                                <a href="tel:+1-562-864-3713">(562) 864-3713</a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
            <div>
                <iframe width="600" height="450" frameborder="0" style="border:0"
                    src="https://www.google.com/maps/embed/v1/place?q=place_id:ChIJBzBFcJDSwoARNdpSj_wzvb4&key=AIzaSyDuLdFOa7i86v__YtYGJSZQLqZBS9V09kM"
                    allowfullscreen></iframe>
            </div>
        </div>
    </div>
</div>
<div id="what-to-expect" class="uk-section uk-section-muted">
    <h1 class="uk-heading-small uk-text-center">What To Expect</h1>
    <div class="uk-container">
        <div class="uk-card uk-card-default uk-card-body uk-card-hover">
            <h3 class="uk-heading-bullet">Sunday Service</h3>
            <p>
                On any given Sunday, our church members arrive about 15 minutes early to eat donuts, drink coffee, and catch up
                on the
                week. We usually wear casual clothes to church, so don't feel the need to come in your "Sunday Best."
                As you walk in, one of our friendly greeters will give you a paper bulletin with some church information. This
                is just a
                helpful guide to what's going on in our church family. We will begin our service with songs, some new, some
                older, like
                traditional hymns. After we sing, we have a few minutes where everyone greets each other; we call this "the
                passing of
                the peace." Here, we give hugs, handshakes, and high fives, and we try to make everyone feel loved and welcome.
                You will also hear a a message from our Pastor, Eddie Cuen, who will undoubtedly tie in bacon to the Bible
                passage he is
                teaching from. Some of our volunteers will collect an offering, where many of the church members will give a
                financial
                gift to the church; this is not something you should feel pressured to do, as this is a way church members give
                back to
                their local church. We will sing a song or two after this, then Pastor Eddie will give a blessing, signaling the
                end of
                the service. Feel free to stick around and talk to us after the service!
            </p>
            <h3 class="uk-heading-bullet">Children's Church</h3>
            <p>
                Children will spend the opening songs and greeting time with their families. After this, they will have the option
                to go
                to Children's Church with our Family Life Coordinator, Chloe Langford. Parents can take their kids to the back of
                the
                church to meet Chloe and others attending Children's Church for that week. She will then take the kids to the 1st
                grade
                room on campus and lead them in story time, crafts, and play time, focused around Biblical stories and truths. Kids
                Kindergarten-5th Grade are encouraged to attend.
                First time? Another parent or church member would be happy to guide you to the classroom, or you can arrange for
                Chloe
                to bring back your child to you at the end of the service.
            </p>
        </div>
    </div>
</div>