<div class="uk-cover-container banner-container">
    <div class="uk-overlay uk-light banner-title-container">
        <h1 class="uk-heading-medium banner-title">Services</h1>
    </div>
</div>
<div id="service-times" class="uk-section uk-section-muted">
    <div class="uk-container">                                        
        <div class="uk-child-width-1-2@m uk-grid-small uk-grid-match" uk-grid>
            <div>
                <div class="uk-card uk-card-default uk-card-body uk-card-hover">
                    <div>
                        <h3 class="uk-heading">Sunday Service</h3>
                        <p>Sundays @ 10:00 AM</p>
                        <hr>
                    </div>
                    <div>
                        <h3 class="uk-heading">Location</h3>
                        <ul class="uk-list">
                            <li>
                                <span uk-icon="location"></span>
                                <a target="_blank"
                                    href="https://www.google.com/maps/search/?api=1&query=Trinity+Lutheran+Church+Norwalk&query_place_id=ChIJBzBFcJDSwoARNdpSj_wzvb4">
                                    11507 Studebaker Rd, Norwalk, California 90650
                                </a>
                            </li>
                            <li>
                                <span uk-icon="receiver"></span>
                                <a href="tel:+1-562-864-3713">(562) 864-3713</a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
            <div>
                <iframe width="600" height="450" frameborder="0" style="border:0"
                    src="https://www.google.com/maps/embed/v1/place?q=place_id:ChIJBzBFcJDSwoARNdpSj_wzvb4&key=AIzaSyDuLdFOa7i86v__YtYGJSZQLqZBS9V09kM"
                    allowfullscreen></iframe>
            </div>
        </div>
    </div>
</div>
<div class="uk-section uk-section-muted uk-flex uk-flex-center">
    <div class="uk-container">
        <h1 class="uk-heading-small uk-text-center">Online Worship</h1>
        <div class="uk-card uk-card-default uk-card-body uk-card-hover">
            <p>
                Videos are published using facebook live a little before 10am each Sunday. 
                The best way for anyone to see them is to like the facebook page and they will receive a notification saying that we are broadcasting a live video.
            </p>
        </div>
    </div>
</div>
<div class="uk-flex uk-flex-center">
    <div class="uk-container uk-container-expand">
        <div id="timeline" class="fb-page" data-href="https://www.facebook.com/TrinityNorwalk" data-tabs="timeline" [attr.data-width]="pluginWidth"
            data-height="700px" data-small-header="true" data-adapt-container-width="false" data-hide-cover="true"
            data-show-facepile="false">
            <blockquote cite="https://www.facebook.com/TrinityNorwalk" class="fb-xfbml-parse-ignore"><a
                    href="https://www.facebook.com/TrinityNorwalk">Trinity Lutheran Church, LCMS</a>
            </blockquote>
        </div>
    </div>
</div>
<div id="what-to-expect" class="uk-section uk-section-muted">
    <h1 class="uk-heading-small uk-text-center">What To Expect</h1>
    <div class="uk-container">
        <div class="uk-card uk-card-default uk-card-body uk-card-hover">
            <h3 class="uk-heading-bullet">Sunday Service</h3>
            <p>
                On any given Sunday, our church members arrive about 15 minutes early to eat donuts, drink coffee, and catch up
                on the
                week. We usually wear casual clothes to church, so don't feel the need to come in your "Sunday Best."
                As you walk in, one of our friendly greeters will give you a paper bulletin with some church information. This
                is just a
                helpful guide to what's going on in our church family. We will begin our service with songs, some new, some
                older, like
                traditional hymns. After we sing, we have a few minutes where everyone greets each other; we call this "the
                passing of
                the peace." Here, we give hugs, handshakes, and high fives, and we try to make everyone feel loved and welcome.
                You will also hear a a message from our Pastor, Eddie Cuen, who will undoubtedly tie in bacon to the Bible
                passage he is
                teaching from. Some of our volunteers will collect an offering, where many of the church members will give a
                financial
                gift to the church; this is not something you should feel pressured to do, as this is a way church members give
                back to
                their local church. We will sing a song or two after this, then Pastor Eddie will give a blessing, signaling the
                end of
                the service. Feel free to stick around and talk to us after the service!
            </p>
            <h3 class="uk-heading-bullet">COVID-19</h3>
            <p>
                In Scripture, we are told to respect the governing authority placed over us, for it is established by God (Romans 13:1ff); 
                we also understand that we must obey God over man (Acts 5:29). 
                It is in a desire to balance these two commands that we have implemented Covid procedures. 
                We seek to align our policies and procedures as closely as possible to the guidelines established by the Los Angeles County Department of Public Health <a target="_blank" rel="noopener noreferrer" href="http://publichealth.lacounty.gov/acd/ncorona2019/BestPractices/communitiesoffaith/">(LAC | DPH | Guidance for Communities of Faith (lacounty.gov)</a> while providing a meaningful worship experience. 
                Those attending the worship service are asked to self-screen prior to arriving, wear a mask while on the facility, maintain social distance and avoid congregating for extended periods of time, even outdoors. 
            </p>
        </div>
    </div>
</div>